---
import { Navbar } from "../components/layout/navbar/navbar";
import { Home } from "../modules/home/home";
import Layout from "../layouts/Layout.astro";
import "../styles/reset.css";
import "../styles/global.css";
---

<Layout>
  <div class="max-h-dvh h-full flex flex-col">
    <Navbar />
    <Home />
  </div>
</Layout>
